@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.bg-primary {
  background-color: #1b547f !important;
}
.text-primary {
  color: #1b547f !important;
}
.text-white {
  color: white !important;
}
.border-primary {
  border: 1px solid #1b547f !important;
}
